body {
  font-family:'robotoregular', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

input {
  -webkit-appearance:none;
  -webkit-border-radius:0;
  border-radius:0;
  border:0;
  border-bottom:#EEE 1px solid;
  padding-bottom:1em;
  width:100%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
  font-style: bold
}

#container {
  width: 800px;
  height: 478px;
  background: #FFF;
  border-radius: 4px;
  overflow:hidden;

  .device_list {
    width:50%;
    margin: auto;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin-top: 3em;

    h1 {
      margin-bottom: 1em;
    }

    ul {

      li {
        margin-bottom: 0.6em;
      }
    }

    .button{

      a {
        font-size: 0.8em;
        background-color: #808080;
        color: #FFF;
        padding: 0.2em 3em 0.4em 3em;
        text-decoration: none;
      }
    }
  }

  .device_notification {
    width:80%;
    margin: auto;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin-top: 5em;

    img {
      width: 80%;
    }

    h1 {
      margin-bottom: 1em;
    }

    h2 {
      text-align: left;
      margin-bottom: 1.2em;
    }

    p {
      text-align: left;
      margin-bottom: 1.6em;
    }

    .notification_img {
      width:50%;
      float: left;
    }

    .notification_text {
      width:50%;
      float: right;
    }

    .notification_buttons {
      text-align: left;

      .button{
        display: inline;
        text-align: left;
        margin-right: 0.5em;

        a {
          font-size: 0.8em;
          background-color: #808080;
          color: #FFF;
          padding: 0.2em 3em 0.4em 3em;
          text-decoration: none;
        }
      }
    }
  }
}

.one {
    display: none;
}

.two {
    display: none;
}

.two {
}
