body {
  font-family:'robotoregular', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

input {
  -webkit-appearance:none;
  -webkit-border-radius:0;
  border-radius:0;
  border:0;
  border-bottom:#EEE 1px solid;
  padding-bottom:1em;
  width:100%;
}

h1 {
  font-size: 2em;
}

#container {
  width: 800px;
  height: 478px;
  background: #FFF;
  border-radius: 4px;
  overflow:hidden;

  .device_list {
    width:50%;
    margin: auto;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin-top: 3em;

    h1 {
      margin-bottom: 1em;
    }

    ul {

      li {
        margin-bottom: 0.6em;
      }
    }

    .button{

      a {
        background-color: #808080;
        color: #FFF;
        padding: 0.2em 2em 0.4em 2em;
        text-decoration: none;
      }
    }
  }
}
