doctype html
html(lang="en")
  head
    title IF–CHOICE Connected Devices
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/socket.io.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    link(rel="stylesheet" type="text/css" href="/public/stylesheets/app.css")
  body
    div(id="container")
      div(class="device_list")
        h1 Devices connected to *Router name*
        ul
          li Device one
          li Device two
          li Device three
          li Device four
          li Device five
        div(class="button")
          a(href="#") Refresh
